/* Global reset styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Sliding transition effect */
.slide-enter {
  transform: translateX(100%);
  opacity: 0;
}
.slide-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 500ms ease-in-out;
}
.slide-exit {
  transform: translateX(0);
  opacity: 1;
}
.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 500ms ease-in-out;
}
